@model dynamic

@{
    ViewBag.Title = "Acces Interdit";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="row">
            <div class="text text-center">
                <div class="jumbotron">
                    <div class="text-center">
                        <h2 class="text-center">@ViewBag.Title</h2>
                        <h3 class=" danger"> Vous n'avez pas le profil pour utiliser cette page </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


