@model APP.Areas.Affectation.Models.AllViewsModel
@using DAL;
@using System.Diagnostics

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>Kontrol Park</h1>
                <p>Page de suivis des Véhicules des conducteurs et des affectations de missions.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Gestion des Véhicules <small class="m-l-sm">This is custom panel</small></h5>
                </div>
                <div class="ibox-content">
                    <p>L'utilisateur est chargé de créer modifier ou supprimer des véhicules tout en renseignant les caractéristiques de chaque véhicules.</p>
                </div>
                <div class="ibox-footer">
                    <a class="btn btn-primary btn-rounded" href="/Affectation/Vehicules/Index">Gérer les Véhicules</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Gestion des Affectations de missions <small class="m-l-sm">This is custom panel</small></h5>
                </div>
                <div class="ibox-content">
                    <p>L'utilisateur est chargé de créer les missions en prenant soin de renseigner le véhicule et/ou le conducteur affecté à cette mission .</p>
                </div>
                <div class="ibox-footer">
                    <a class="btn btn-primary btn-rounded" href="/Affectation/Missions/Index">Gérer les Affectations de missions</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Gestion des Conducteurs <small class="m-l-sm">This is custom panel</small></h5>
                </div>
                <div class="ibox-content">
                    <p>L'utilisateur est chargé de créer modifier ou supprimer des Conducteurs.</p>
                </div>
                <div class="ibox-footer">
                    <a class="btn btn-primary btn-rounded" href="/Affectation/Conducteurs/Index">Gérer les Conducteurs</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Les autres fonctions </h5>
                </div>
                <div class="ibox-content">
                    <a class="btn btn-primary btn-rounded" href="/Affectation/Assurances/Index">Les Assurances</a>
                    <a class="btn btn-primary btn-rounded" href="/Affectation/Fournisseurs/Index">Les Fournisseurs</a>
                    <a class="btn btn-primary btn-rounded" href="/Affectation/AspectVehicules/Index">Aspects des Véhicules</a>
                    <a class="btn btn-primary btn-rounded" href="/Affectation/TypeVehicules/Index">Types de Véhicules</a>
                    <a class="btn btn-primary btn-rounded" href="/Affectation/MarqueVehicules/Index">Marques de Véhicules</a>
                    <a class="btn btn-primary btn-rounded" href="/Affectation/CategoriePermis/Index">Catégories de conduire</a>
                    <a class="btn btn-primary btn-rounded" href="/Affectation/CategorieMissions/Index">Catégories de Missions</a>
                    <a class="btn btn-primary btn-rounded" href="/Affectation/TypeMissions/Index">Permis de conduire</a>
                </div>
            </div>
        </div>
    </div>

</div>
